* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(187, 195, 199); 

}
.container {
  display: flex;
}

a {
  color: black;
}

a:hover {
  color: rgba(31, 27, 238, 0.7);
}

@media screen and (max-width: 600px){
  .container {
    width: 100%;
    overflow: hidden;
  }
  .topnav {
    display: none;
  }
  .photo-headliner .inner-text h1, .photo-headliner .inner-text h2{
    display: none;
  }

  .photo-headliner {
    position: relative;
    background-color: white;
    padding: 10px;
    height: 150px;
    overflow: hidden;
    background-image: url("photos/construction2.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
  .slideshow-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .about {
    background-color: rgb(146, 145, 145);
    height: 20%; /* Should be removed. Only for demonstration */
  }
  .testimonials {
    height: 20%;
  }

  .testimonials .before-and-after {
    width: 80%;
  }

  .logo-container {
    height: 500px;
  }
  .roofing-services {
    background-color: rgba(44, 120, 235, 0.5);
    padding: 10px;
    height: 15%; 
    display: block;
    word-wrap: break-word;
  }
  .roofing-services .before-and-after-example {
    display: block;
    float: right; 
    margin: 0px 0px 15px 15px;
    padding: 10px;
    width: 300px;
    height: 175px;
    overflow: hidden;
  }
  .topnav a {
    margin: 0 auto; 
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
  }

  .roofing-services .before-and-after-example {
    float: right; 
    margin: 0px 0px 15px 15px;
    padding: 10px;
    width: 200px;
    height: 130px;
    overflow: hidden;
  }
  .contact {
    width: 100%;
  }
  .map {
    width: 100%;
  }
}