.testimonials {
    background-color: rgb(187, 195, 199); 
    height: 20%; /* Should be removed. Only for demonstration */
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.testimonials h2{
    text-align: center;
}
.testimonials p {
    text-align: center;
}

.testimonials .before-and-after {
    width: 30%;
    height: 30%;
    float: left;    
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    font-size: 0.8em;
}

.testimonials .before-and-after img {
    width: 302px;
    height: 207px;
    border-radius: 25px;

}

  /* 
.testimonials img {
  margin-left: auto; 
  margin-right: auto;
  width: 200px;
  height: 200px;
} */