.about {
  background-image: url("../photos/background.jpeg");
  background-color: rgb(146, 145, 145);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 10px;
  height: 20%; 
  display: inline-block;
  width: 100%;
}

#colossians {
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
}

/* Slideshow container */
.slideshow-container {
  float: left; 
  width:300px;
  height:300px;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Style the content; Slideshow styling at bottom */
.connect {
  text-align: center;
  display: flex;
  justify-content: center;
}