.contact {
    /* background-image: url("../photos/background.jpg"); */
    background-color: rgb(146, 145, 145);
    height: auto; /* You must set a specified height */
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
}
  
.contact h2{
  text-align: center;
}
  
.contact img {
  width: 50px;
  height: auto;
  border-radius: 25px;
}

.contact iframe {
  width: 50%;
  justify-content: center;
  height: 50%;
}
  
.map {
  background-color: rgb(146, 145, 145);
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
  width: 50%;
  float: left;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

/* Style the footer */
.footer {
  background-color: #333;
  padding: 5px;
  color: rgb(182, 179, 179);
  width: 100%;
}