  /* Roofing Services Content */
  .roofing-services {
    background-color: rgba(31, 27, 238, 0.7);
    padding: 10px;
    height: 15%; 
    display: inline-block;
    word-wrap:break-word;
  }
    
  .roofing-services .before-and-after-example {
    float: right; 
    margin: 0px 0px 15px 15px;
    padding: 10px;
    width: 350px;
    height: 200px;
    overflow: hidden;
  }  