  /* Roofing Services Content */
.roofing-services {
  background-image: url("../photos/background.jpeg");
  background-color: rgb(146, 145, 145);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 10px;
  height: 15%; 
  display: inline-block;
  word-wrap:break-word;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.roof-service {
  float: left;
  padding: 10px;
  height: auto;
  width: 33%;
  overflow: hidden;
  margin-top: 10px;
}

.roof-service img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.roof-service-mid {
  float: left;
  margin-top: 10px;
  width: 50%;
}

.roof-service-mid img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.roof-service img:hover {
  opacity: 0.5;
}