.testimonials {
  background-color: rgb(187, 195, 199); 
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.testimonials span{
  font-size: 2.0em;
  position: absolute;
  left: 0;
  font-weight: bold;
  margin: 5px;
  margin-left: 25px;
  margin-top: 25px;
}

.testimonials p {
  text-align: center;
}

.before-and-after-1 {
  position: relative;
  float: left;
  background-color: #ffffff;
  padding: 10px;
  height: auto;
  width: 30%;
  overflow: hidden;
  background-image: url("../photos/roofs/roof-1.JPG");
  background-color: #cccccc; 
  height: 300px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 25px;
  margin: 20px;
  margin-top: 80px;
}

.before-and-after-2 {
  position: relative;
  float: left;
  background-color: #ffffff;
  padding: 10px;
  width: 30%;
  overflow: hidden;
  background-image: url("../photos/roofs/roof-2.jpeg");
  background-color: #cccccc; 
  height: 480px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 25px;
  margin: 10px;
  margin-top: 15px;

}

.before-and-after-3 {
  position: relative;
  float: left;
  background-color: #ffffff;
  padding: 10px;
  height: auto;
  width: 30%;
  overflow: hidden;
  background-image: url("../photos/roofs/roof-3.jpeg");
  background-color: #cccccc; 
  height: 300px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 25px;
  margin: 20px;
  margin-top: 80px;

}

.roof-quote-1 {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90%;
  -webkit-text-stroke: 0.4px #000000;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 0.9em;
  color: #000000;
}  

.roof-quote-2 {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 90%;
  font-size: 0.9em;
  -webkit-text-stroke: 0.1px #ffffff;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #000000;
}  

.roof-quote-3 {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 90%;
  -webkit-text-stroke: 0.4px #000000;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 0.9em;
}  